<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Message Board
  script(src='https://code.jquery.com/jquery-2.2.4.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  script(src="main.js")
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  link(rel='stylesheet', href='http://bootswatch.com/darkly/bootstrap.min.css')
  link(rel='stylesheet', href='style.css')
body
  .container-fluid
    .container  
      .jumbotron
        h1 Message Board
        h3 Post a message:
        .container
          form
            .form-group
              input.form-control#author(placeholder='Type the name you want shown with you message here...')
              textarea.form-control#text(placeholder='Type your message here...', rows="8", cols="40")
              button.btn.btn-success.post(type='submit') Click here to post your message!
      .template.msgCard.jumbotron
        .panel.panel-default
          .panel-heading
            span.msgAuthor Posted by Elliot
            span.button-div.cardActions
              button.btn.btn-warning.edit.action
                span.icon(aria-hidden='true') 
                  i.glyphicon.glyphicon-pencil
              button.btn.btn-danger.delete.action
                span.icon(aria-hidden='true')
                  i.glyphicon.glyphicon-trash
          .panel-body  
        .row
          .col-md-7.col-sm-5.col-xs-6.time-col   
            span.time.info at 10:01 PM on Friday, June 16, 2016
          .col-md-5.col-sm-6.col-xs-6 
              span.edited edited at 10:01 PM on Friday, June 16, 2016
            
              
              
         
        
    
    
