body {
  text-align: center;
}

.post {
  margin-top: 20px;
}

.jumbotron {
  padding-bottom: 2px;
  margin-bottom: 10px;
}

.test {
  background-color: grey;
}

.msgCard {
  text-align: left;
  padding: 14px 12px;
  padding-right: -13px;
}

.bottomInput {
  padding-top: 1px;
}

.cardActions {
  float: right;
  position: relative;
  bottom: 8px;
  left: 12px;
}

.panel {
  margin-bottom: 1px;
}

.time-col {padding-right: 10px;}

.right {
  text-align: right:
}

.panel-body {
  word-wrap: normal;
}

.icon {
  font-size: 24px;
  position: relative;
  top: 3px;
}

.action {
  padding: 0px 6px;
  margin-left: 4px;
}

#author {
  margin-bottom: 3px;
}
